.title {
  margin-bottom: 2rem;
  text-align: center;

  &-main {
    line-height: 4rem;
    font-size: 3rem;
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--element-background-end-rgb))
      )
      rgb(var(--element-background-start-rgb));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-altText {
    font-family: var(--font-family);
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .title {
    &-main {
      line-height: 5rem;
      font-size: 4rem;
    }

    &-altText {
      font-size: 2rem;
    }
  }
}
