.memoGrid {
  max-width: 1176px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  grid-template-columns: 1fr;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .memoGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .memoGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
